@charset "utf-8";
@import url("header.css");
@import url("footer.css");
@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
	}
}
/* 轮播图 */
.w{
	width:1200px;
}
.w{
	margin:0 auto;
}
a{
	text-decoration: none;
    color: #333;
}
.clearfix{
	@include clearfix();
}
img{
	overflow: hidden;
    vertical-align: top;
    background: #eee;
}
.Left{
    float:left;
}
.Right{
    float:right;
}
.gray{
    color: #999;
}

/* 非引入部分的样式的开始 */
.mt20{
    margin-top: 20px;
}
.w{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.flow_h2{
    .text{
        font-size: 24px;
        font-family: 微软雅黑;
        color: rgb(85, 85, 85);
        img{
            width: 133px;
            height: 32px;
        }
    }
}
/* 购物车--空 */
.no_goods{
    width: 830px;
    padding: 90px 0 90px 148px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom:50px;
    .icon{
        width: 131px;
        height: 93px;
        background: url(../images/bg2.png) -840px -99px no-repeat;
    }
    .main{
        width: 630px;
        .strong{
            font-size: 24px;
            font-family: 微软雅黑;
            line-height: 50px;
            font-weight: normal;
            color: #454545;
        }
        .go_buy{
            display: inline-block;
            vertical-align: middle;
            width: 149px;
            height: 40px;
            background: url(../images/bg2.png) -311px -135px no-repeat;
        }
        .f14{
            font-size: 14px;
        }
        .text{
            padding: 0;
            margin: 0;
            width: 250px;
            height: 27px;
            border: 1px solid #cecece;
            vertical-align: top;
            margin-top: 5px
        }
        .submit{
            padding: 0;
            margin: 0;
            width: 60px;
            color: #666;
            height: 29px;
            vertical-align: top;
            border: 1px solid #cecece;
            background: url(../images/liner.jpg) 0 0 repeat-x;
            margin-top: 5px;
            border-left: none;
        }
    }
}