@charset "utf-8";
@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
	}
}
.mll-foot{
	padding-top: 0;
	width:100%;
	.foot-icon{
		background: #f8f8f8;
	    padding: 35px 0;
	    border-bottom: 1px solid #ededed;
	   
	    .view{
	    	width:1200px;
	    	margin:0 auto;
	    	@include clearfix();
	    	a{
				width:150px;
				height:80px;
				float:left;
				i{
					display: block;
				    width: 50px;
				    height: 50px;
				    margin:0 auto;
				    background: url(../images/footericon.png) no-repeat;
				}
		    	span{
					display: inline-block;
				    width: 100%;
				    font-size: 14px;
				    color: #000;
				    text-align: center;
				    margin-top: 10px;
		    	}
	    	}	
	    }
	}
}
/* 底部第一部分的背景图定位 */
$icon_move:50px;
.mll-foot .foot-icon .view a .icon-2{
	background-position: - $icon_move 0;
}
.mll-foot .foot-icon .view a .icon-3{
	background-position: - 2*$icon_move 0;
}
.mll-foot .foot-icon .view a .icon-4{
	background-position: - 3*$icon_move 0;
}
.mll-foot .foot-icon .view a .icon-5{
	background-position:0 -50px;
}
.mll-foot .foot-icon .view a .icon-6{
	background-position:-50px -50px;
}
.mll-foot .foot-icon .view a .icon-7{
	background-position:-100px -50px;
}
.mll-foot .foot-icon .view a .icon-8{
	background-position:-150px -50px;
}

/* 底部第二部分的开始 */
.foot-help{
	background: #f8f8f8;
    padding: 35px 0 54px;
    .help_view{
    	width:1200px;
    	margin:0 auto;
    	@include clearfix();
    	.contact{
    		width: 240px;
		    height: 165px;
		    background: url(../images/footer.png) 0 -100px no-repeat;
		    float: left;
		    .s1{
		    	font-size: 14px;
    			line-height: 19px;
		    }
		    .s2{
		    	font-size: 20px;
			    color: #e62318;
			    margin: 5px 0;
		    }
		    .s3{
		    	color: #999;
    			margin-bottom: 30px;
    			font-size:12px;
		    }
		    .s4{
		    	    margin-bottom: 10px;
		    	    i{

		    	    }
		    }
		    .s4,.s5{
				a{
		    	    	display: inline-block;
					    color: #e62318;
					    border: 1px solid #e62318;
					    width: 106px;
					    height: 24px;
					    text-align: center;
					    line-height: 24px;
					    padding-left: 10px;
					    position: relative;
					    font-size:12px;
		    	}
		    }
    	}
    }
}
.contact .s4 i,.contact .s5 i{
	display: inline-block;
    overflow: hidden;
    position: absolute;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
}
.contact .s4 a .coord{
    width: 11px;
    height: 14px;
    background-position: -11px -265px;
    left: 5px;
    top: 5px;
}
.contact .s5 a .mobile{
	width: 10px;
    height: 13px;
    background-position: 0 -265px;
    left: 6px;
    top: 6px;
}



/* article部分 */
.help_view .article{
	width: 851px;
    float: right;
    @include clearfix();
    dl{
    	float: left;
    	width: 151px;
    	dt{
    		color: #444;
		    font-size: 14px;
		    padding: 3px 0 5px;
    	}
    	dd a{
    		display: block;
		    color: #999;
		    margin-top: 9px;
		    font-size:12px;
    	}
    	dd a:hover{
    		color: #e62318!important;
    	}
    }
    .weixin{
    	width:96px;
    	dt{
    		margin-bottom: 6px;
    	}
    	dd img{
    		overflow: hidden;
		    vertical-align: top;
		    background: #eee;
		    width:96px;
    	}
    }
}
/* 底部第三部分foot-extend的样式 */
.foot-extend{
	background: #1f1f1f;
    padding: 21px 0 30px;
    a:hover{
    	color: #e62318!important;
    }
    .end-view{
    	width:1200px;
    	margin:0 auto;
    	.city_link{
			border-bottom: solid 1px #2e2e2e;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
    		li{
    			height: 20px;
			    overflow: hidden;
			    color: #777;
			    position: relative;
    		}
    	}
  	}
}
.end-view .city_link li {
	.switch{
		padding-right: 25px;
	    line-height: 20px;
	    span{
	    	margin-right: 10px;
	    	font-size:12px;
	    }
	    a{
	    	color: #777;
	    	margin-right: 20px;
	    	font-size:12px;
	    }
	}
	i{
		display: inline;
		position: absolute;
		right: 0;
		top: 3px;
		cursor: pointer;
		width: 15px;
		height: 13px;
		background: url(../images/footer.png) -23px -265px no-repeat;
	}
	
}
.end-view  .footer-down{
	position: relative;
    color: #777;
    ul{
    	height: 40px;
    	li{
			height: 20px;
  			line-height: 20px;
  			font-size:12px;
  			a{
  				color: #777;
  				font-size:12px;
  			}
    	}
    }
	.footer-down-left{

	}
	.footer-down-right{
		position: absolute;
	    right: 0;
	    top: 0;
	    height: 40px;
	    li{
	    	float: left;
		    height: 40px;
		    padding-left: 15px;
		    a{
		    	color: #777;
		    	i{
    				width: 27px;
    				margin-right: 5px;
   					background-image: url(../images/credit.png);
    				background-repeat: no-repeat;
    				display: inline-block;
    				vertical-align: top;
		    	}
		    	.icon-1{
		    		height: 22px;
    				background-position: 0 0;
    				margin-top: 12px;
		    	}
		    	.icon-2{
		    		width: 32px;
    				height: 26px;
    				background-position: 0 -69px;
    				margin-top: 9px;
		    	}
		    	.icon-3{
		    		height: 21px;
    				background-position: 0 -47px;
    				margin-top: 11px;
		    	}
		    	.icon-4{
		    		height: 25px;
    				background-position: 0 -22px;
    				margin-top: 9px;
		    	}
		    	span{
		    		line-hieght:20px;
					width: 50px;
					display: inline-block;
    				vertical-align: top;
		    	}
		    	.span1{
		    		line-height:40px;
		    	}
		    }
	    }
	}
}

